@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
  background-color: rgb(48, 48, 48);
  color: azure;
  border-radius: 20px;
 padding: 5px 15px;
 box-shadow: 3px 4px 10px rgb(8, 8, 8);
 
}
